@font-face {
  font-family: BelleFair;
  src: url(../Assets/Fonts/Bellefair-Regular.ttf); }

@font-face {
  font-family: Ramona-Bold;
  src: url(../Assets/Fonts/Ramona-Bold.ttf); }

@font-face {
  font-family: Ramona-Light;
  src: url(../Assets/Fonts/Ramona-Light.ttf); }

@font-face {
  font-family: Sango;
  src: url(../Assets/Fonts/SangoUppercase-Static.otf); }

@font-face {
  font-family: Benz;
  src: url(../Assets/Fonts/Benzol_personal_use.otf); }

* {
  text-align: center;
  color: white; }

#root {
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  background-image: url(../Assets/Images/background.gif);
  background-blend-mode: difference; }

.navbar {
  color: white;
  font-family: Sango;
  font-size: 25px;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-around;
  list-style-type: none; }

.navbar li {
  font-family: Benz;
  text-decoration: none; }
